---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCategoryPaths, getQuizPaths } from "../routes";

export function getStaticPaths() {
  return getCategoryPaths();
}

const { title } = Astro.props;
const { category } = Astro.params;

const quizzes = getQuizPaths(category);
---

<style>
  main {
    margin: 20px auto;
    border-radius: 16px;
    padding: 2rem;
    max-width: var(--max-width);

    &[data-category="plussommen"] {
      background-color: color-mix(in srgb, var(--color-green) 15%, white);
    }

    &[data-category="minsommen"] {
      background-color: color-mix(in srgb, var(--color-orange) 15%, white);
    }

    &[data-category="tafels"] {
      background-color: color-mix(in srgb, var(--color-blue) 15%, white);
    }
  }

  .back-button {
    display: inline-block;
    transition: color 0.1s;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
    color: var(--color-text);
    font-size: 14px;
    text-decoration: none;

    &::before {
      margin-right: 0.25rem;
      content: "← ";
    }

    &:hover {
      color: color-mix(in srgb, var(--color-text) 60%, white);
    }
  }

  &[data-category="plussommen"] .back-button {
    background-color: color-mix(in srgb, var(--color-green) 15%, white);
  }

  &[data-category="minsommen"] {
    background-color: color-mix(in srgb, var(--color-orange) 15%, white);
  }

  &[data-category="tafels"] {
    background-color: color-mix(in srgb, var(--color-blue) 15%, white);
  }

  h1 {
    margin-bottom: 1rem;
    color: var(--color-text);
  }

  nav {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 0;
      list-style: none;
    }

    a {
      display: flex;
      position: relative;
      align-items: center;
      transition: all 0.1s;
      border-width: 2px;
      border-style: solid;
      border-radius: 27px;
      padding-left: 1.5rem;
      height: var(--button-size);
      color: var(--color-text);
      font-size: 16px;
      text-decoration: none;

      &::after {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
        content: "›";
        font-size: 1.5rem;
      }

      &:hover {
        background-color: white;
        color: var(--color-text);
      }
    }
  }

  [data-category="plussommen"] nav a {
    border-color: var(--color-green);
    background-color: var(--color-green);
    color: white;

    &:hover {
      background-color: white;
      color: var(--color-green);
    }
  }

  [data-category="minsommen"] nav a {
    border-color: var(--color-orange);
    background-color: var(--color-orange);
    color: white;

    &:hover {
      background-color: white;
      color: var(--color-orange);
    }
  }

  [data-category="tafels"] nav a {
    border-color: var(--color-blue);
    background-color: var(--color-blue);
    color: white;

    &:hover {
      background-color: white;
      color: var(--color-blue);
    }
  }
</style>

<BaseLayout title={title}>
  <main data-category={category}>
    <a href="/" class="back-button">Terug</a>
    <h1>{title}</h1>
    <p>Kies een oefening</p>
    <nav>
      <ul>
        {
          quizzes.map((quiz) => (
            <li>
              <a href={`/${quiz.params.quiz}`}>{quiz.props.title}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </main>
</BaseLayout>
